@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: 100%;
  width: 100%;
  
  background: rgb(8,92,71);
background: radial-gradient(circle, rgba(8,92,71,1) 0%, rgba(72,87,209,0.9921218487394958) 100%);
}